@use '../styles/abstracts/variables' as *;

.filter {
    display: flex;
    flex-direction: column;

    &__name-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: max-content;

        &:hover {
            cursor: pointer;
        }
    }

    &__name {
        font-size: 1rem;
        font-weight: 500;
        margin: 0 0.375rem 0.125rem 0.25rem;
        transition: all $transition-time ease-in-out;
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        visibility: hidden;
        max-height: 0;
        margin-top: 0;
        transition: all $transition-time ease-in-out;
        opacity: 0;
    
        &--visible {
            visibility: visible;
            opacity: 1;
            max-height: 50rem;
            margin-top: 0.25rem;
        }

        &::after {
            content: '';
            flex: 100;
        }
    }

    &__button {
        flex-grow: 1;
        margin: 0.1875rem;
        padding: 0.375rem 1rem;
        border-radius: $border-radius-small;
        background-color: var(--element-background-color);
        color: var(--primary-text-color);
        font-size: 0.875rem;
        transition: all $transition-time ease-in-out;

        &:hover {
            background-color: var(--main-background-color);
            color: var(--primary-text-color);
            cursor: pointer;
        }

        &--selected {
            border-color: var(--button-background-color);
            background-color: var(--button-background-color);
            color: var(--button-text-color);

            &:hover {
                border-color: var(--button-hover-background-color);
                background-color: var(--button-hover-background-color);
                color: var(--button-text-color);
            }
        }
    }
}
