@use '../styles/abstracts/variables' as *;

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 12em;
    border-radius: $border-radius-medium;
    background-color: var(--component-background-color);
    transition: all $transition-time ease-in-out;

    & > .form-item {
        margin-bottom: 0.1875rem;
    }

    & > .button {
        margin-top: 0.875rem;
    }

    & >:first-child {
        margin-bottom: 1rem;
    }
}
