.rating {
    position: relative;
    text-align: center;
    border-radius: 50%;
    font-size: 0.875rem;
    font-weight: 500;

    &__content {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 50%;
        background-color: var(--component-background-color);
        color: var(--pramiary-text-color);
    }

    &__bar-edge {
        position: absolute;
        border-radius: 50%;

        &--start {
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        &--end {
            top: 50%;
            left: 50%;
        }
    }
}
