// @use '../abstracts' as *;
@use '../abstracts/variables' as *;

html, body {
    height: 100%;
    overflow-x: hidden;
}

body {
    background-color: var(--main-background-color);
    color: var(--primary-text-color);
    transition: all $transition-time ease-in-out;
    -webkit-font-smoothing: antialiased;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    overflow-x: hidden;
}

main {
    flex: 1;
    width: 100%;
}