*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

input, textarea {
    outline: none;
    border: none;
    resize: none;
}

button {
    outline: none;
    border: none;
    background: none;
}

ol, ul {
	list-style: none;
}

a {
    text-decoration: none;
    color: var(--button-background-color);
}