@use '../styles/abstracts/variables' as *;
@use '../styles/abstracts/mixins' as *;

.movie-details {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0.5rem;
    transition: all $transition-time ease-in-out;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 90em;

        & >:not(:last-child) {
            margin-bottom: 0.75rem;
        }
    }

    &__add-container {
        display: flex;
        flex-direction: column;
        width: 100%;

        & >:not(:last-child) {
            margin-bottom: 0.75rem;
        }
    }

    &__sticky-container {
        display: flex;
        flex-direction: column;

        & >:not(:last-child) {
            margin-bottom: 0.75rem;
        }
    }

    &__rating-panel-container {
        padding: 1rem;
        border-radius: $border-radius-medium;
        background-color: var(--component-background-color);
    }
}

@include breakpoint-lg {
    .movie-details {
    
        &__add-container {
            position: relative;
            flex-direction: row-reverse;
            align-items: flex-start;

            & >:first-child {
                flex: 1;
                align-self: flex-start;
                position: sticky;
                top: 0.75rem;
            }

            & >:last-child {
                flex: 2;
            }
    
            & >:not(:last-child) {
                margin-bottom: 0;
                margin-left: 0.75rem;
            }
        }
    }
}
