@use '../../styles/abstracts/variables' as *;

.movie-card-large {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: $border-radius-medium;
    background-color: var(--component-background-color);

    &__image-container {
        border-radius: $border-radius-medium;
        overflow: hidden;
    }

    &__main-info-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__main-info-container {
        margin: 2rem 0;
    }

    &__info-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__info {
        color: var(--secondary-text-color);
        font-weight: 400;

        &--sm {
            font-size: 0.875rem;
        }

        &--md {
            font-size: 0.9375rem;
        }
    }

    &__add-info-container {
        margin-top: 1rem;
    }
}
