@use '../../styles/abstracts/variables' as *;

.movies-filters {
    overflow: hidden;
    visibility: hidden;
    max-height: 0;
    transition: all $transition-time*2 ease-in-out;
    opacity: 0;
    z-index: 1;

    &--visible {
        visibility: visible;
        opacity: 1;
        max-height: 100rem;
    }
}