@use '../../styles/abstracts/variables' as *;

.movie-card-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0.4125rem;
    background-color: var(--component-background-color);
    color: var(--primary-text-color);
    border: 0.125rem solid var(--button-background-color);
    border-top-right-radius: $border-radius-medium;
    border-top-left-radius: $border-radius-medium;
}
