@use '../../styles/abstracts/variables' as *;

.movie-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 7.5rem;
    border-radius: $border-radius-medium;
    overflow: hidden;
    background-color: var(--component-background-color);
    color: var(--primary-text-color);
    transition: all 0.2s ease-out;
    box-shadow: 0px 0px 12px var(--shadow-color);

    &__button {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__rating {
        position: absolute;
        top: 0.25rem;
        right: 0.25rem;
    }

    &__panel {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        visibility: hidden;
        max-height: 0;
        transition: all $transition-time ease-in-out;
        opacity: 0;
        z-index: 1;
    
        &--visible {
            visibility: visible;
            opacity: 1;
            max-height: 100%;
        }
    }

    &__image-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        // aspect-ratio: 2/3;
    }

    &__image {
        transition: all 0.2s ease-in-out;

        &:hover {
            transform: scale(1.05);
            cursor: pointer;
        }
    }

    &__title-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding: 0.375rem 0.5rem 0.625rem 0.5rem;
        color: var(--primary-text-color);
        text-align: center;
    }

    &__title {
        width: 100%;
        margin-bottom: 0.25rem;
        font-size: 0.9375rem;
        font-weight: 500;
        line-height: 1.35;
        overflow: hidden;
    }

    &__genres-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        font-size: 0.75rem;
        overflow: hidden;
    }

    &__genre-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__separator {
        display: block;
        width: 0.25rem;
        height: 0.25rem;
        margin: 0 0.25rem;
        border-radius: $border-radius-50;
        background-color: var(--primary-text-color);
    }
}
