// smartphones (landscape view)
$screen-sm-min: 36em;

// tablets (portrait view)
$screen-md-min: 48em;

// tablets (landscape view)
$screen-lg-min: 62em;

// desktops
$screen-xl-min: 75em;

// large desktops
$screen-xxl-min: 90em;